# Chapter 29 - Overthinking: Changing how DataFrames are displayed

In [2]:
import pandas as pd

In [3]:
# Load the top 100 rows in “Q1Sales.xlsx”
sales_df = pd.read_excel('data/Q1Sales.xlsx', nrows=100)

sales_df.head(3)

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,Sales,5004,2020-01-01,11/23/19,USD,20.11,14,281.54
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,Sales,5004,2020-01-01,06/15/20,USD,6.70,1,6.70
2,1534,Bullseye,NaN,T&G/PET-14209,Sales,5004,2020-01-01,05/07/20,USD,11.67,5,58.35

### Setting display options

In [5]:
pd.options.display.max_columns = 6
pd.options.display.min_rows = 20
pd.options.display.max_rows = 40

sales_df

,InvoiceNo,Channel,Product Name,...,Unit Price,Quantity,Total
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,...,20.11,14,281.54
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,...,6.70,1,6.70
2,1534,Bullseye,NaN,...,11.67,5,58.35
3,1535,Bullseye,Transformers Age of Extinction Generations Del...,...,13.46,6,80.76
4,1535,Bullseye,Transformers Age of Extinction Generations Del...,...,13.46,6,80.76
5,1537,Bullseye,3x Anti-Spy Privacy Screen Protector Compatibl...,...,7.39,8,59.12
6,1538,Understock.com,NaN,...,31.36,9,282.24
7,1539,Walcart,Zen-Ray ED3 8x43 Binoculars,...,28.29,1,28.29
8,1540,iBay.com,ePartSolution-Samsung Galaxy S4 SPH-L720 USB p...,...,4.22,3,12.66
9,1541,Bullseye,Timex Marathon GPS Watch,...,10.13,29,293.77
...,...,...,...,...,...,...,...
90,1622,Shoppe.com,NaN,...,9.49,6,56.94
91,1623,Understock.com,"Glaesel Cleaner/Polish For Violin, Viola, Cell...",...,4.01,8,32.08
92,1624,Walcart,Wittner 918111 Ultra Violin Tailpiece (4/4 Size),...,2.46,7,17.22
93,1625,iBay.com,Gateway Safety 3699 Colorful StarLite Gumballs...,...,7.31,12,87.72
94,1626,Understock.com,Sennheiser EW 112P G3-B omni-directional EW sy...,...,18.58,1,18.58
95,1627,Understock.com,NaN,...,31.20,3,93.60
96,1550,Walcart,Remote Meter LCD Display (MT5) for Solar Regul...,...,6.20,7,43.40
97,1551,Shoppe.com,NaN,...,9.49,6,56.94
98,1630,Bullseye,Anchor Hocking 1 Gallon Glass Barrel Jar With Lid,...,4.42,1,4.42
99,1552,Walcart,ModTone MT-CP Lemon Squeeze Compressor Guitar ...,...,9.49,4,37.96

In [6]:
# ALL

pd.options.display.max_columns = None
pd.options.display.max_rows = None

#sales_df

In [7]:
pd.options.display.max_columns = None
pd.options.display.min_rows = 5
pd.options.display.max_rows = 7

In [8]:
sales_df

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,Sales,5004,2020-01-01,11/23/19,USD,20.11,14,281.54
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,Sales,5004,2020-01-01,06/15/20,USD,6.70,1,6.70
...,...,...,...,...,...,...,...,...,...,...,...,...
98,1630,Bullseye,Anchor Hocking 1 Gallon Glass Barrel Jar With Lid,K&D/ANC-11168,Sales,5004,2020-01-01,May 31 2020,USD,4.42,1,4.42
99,1552,Walcart,ModTone MT-CP Lemon Squeeze Compressor Guitar ...,MI/MOD-94678,Sales,5004,2020-01-01,05/14/20,USD,9.49,4,37.96

In [9]:
sales_df[60:70]

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
60,1592,Walcart,ModTone MT-CP Lemon Squeeze Compressor Guitar ...,MI/MOD-94678,Sales,5004,2020-01-01,05/14/20,USD,9.49,4,37.96
61,1593,Understock.com,NaN,CP&A/MYB-07860,Sales,5004,2020-01-01,Tue May 19 00:00:00 2020,USD,18.22,3,54.66
...,...,...,...,...,...,...,...,...,...,...,...,...
68,1600,Bullseye,Nivea for Men Dry Impact Roll-on 50 ml (3 Pack),H&PC/NIV-62338,Sales,5004,2020-01-01,Tue May 19 00:00:00 2020,USD,7.84,9,70.56
69,1601,Shoppe.com,"Viva Giant Roll Towels, 12 Count (Pack of 2)",H&PC/VIV-76923,Sales,5004,2020-01-01,Mon Apr 6 00:00:00 2020,USD,14.52,2,29.04

In [10]:
# Define a function to format float values with commas for thousands separators
def float_format_function(value):
    return f'{value:,}'  # Format the value with commas

# Set the pandas display option for float format using the defined function
pd.options.display.float_format = float_format_function

sales_df

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,Sales,5004,2020-01-01,11/23/19,USD,20.11,14,281.54
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,Sales,5004,2020-01-01,06/15/20,USD,6.7,1,6.7
...,...,...,...,...,...,...,...,...,...,...,...,...
98,1630,Bullseye,Anchor Hocking 1 Gallon Glass Barrel Jar With Lid,K&D/ANC-11168,Sales,5004,2020-01-01,May 31 2020,USD,4.42,1,4.42
99,1552,Walcart,ModTone MT-CP Lemon Squeeze Compressor Guitar ...,MI/MOD-94678,Sales,5004,2020-01-01,05/14/20,USD,9.49,4,37.96

In [11]:
pd.Series([1000.0, 2000.0, 5000.0])

0   1,000.0
1   2,000.0
2   5,000.0
dtype: float64

In [12]:
# Define a function to format float values with commas and a currency symbol
def float_format_function(value):
    return f'My value is £{value:,}'  # Format the value with commas and prepend '£' for currency

# Set the pandas display option for float format using the defined function
pd.options.display.float_format = float_format_function  # Apply custom float formatting globally

pd.Series([1000.0, 2000.0, 5000.0])

0   My value is £1,000.0
1   My value is £2,000.0
2   My value is £5,000.0
dtype: float64

In [13]:
# Reset all pandas display options to their default settings
pd.reset_option("display")

### Styling tables

In [15]:
sales_df2 = sales_df.head(4)

sales_df2.style.set_properties(**{'color':'blue', 'background-color': 'pink'})

In [16]:
# Candle's Style
def color_quantity_column(values):
    colors = []
    
    for quantity in values:
        if quantity > values.mean():
            colors.append('color: green')
        else:
            colors.append('color: red')
    
    return colors

In [17]:
sales_df2.style.apply(color_quantity_column, subset=['Quantity'])

In [18]:
# Advanced Candle
def color_quantity_column2(values):
    colors = []
    
    for quantity in values:
        if quantity > values.mean():
            colors.append('color: green; font-weight: 900; font-size: 12pt')
        else:
            colors.append('color: red; text-align: left')
    
    return colors

In [19]:
sales_df2.style.apply(color_quantity_column2, subset=['Total'])

In [20]:
def color_total_column3(values):
    
    green = 'background-color: green'
    red = 'background-color: red'
    
    return [green if v > 100 else red for v in values]

In [21]:
(sales_df2
    .style
    .apply(color_quantity_column2, subset=['Quantity'])
    .apply(color_total_column3, subset=['Total'])
)

In [22]:
df = (sales_df2
    .style
    .apply(color_quantity_column2, subset=['Quantity'])
    .apply(color_total_column3, subset=['Total'])
)

df

### Save as Excel file

In [24]:
(sales_df2
    .style
    .apply(color_quantity_column2, subset=['Quantity'])
    .apply(color_total_column3, subset=['Total'])
    .to_excel('data/Q1SalesStyled.xlsx', index=False)
)

    More information: Python for Accounting (Horatio Bota), pg.288.