# Chapter 19 - Cleaning Data

In [2]:
import pandas as pd

In [3]:
# Read Dataframe 'Q1Sales.csv'

url = ("https://raw.githubusercontent.com/pythonforaccounting/workspace/refs/heads/main/P2%20-%20Working%20with%20tables/Q1Sales.csv")
ledger_df = pd.read_csv(url)

ledger_df.head()

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,Sales,5004,2020-01-01,11/23/19,USD,20.11,14,281.54
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,Sales,5004,2020-01-01,06/15/20,USD,6.70,1,6.70
2,1534,Bullseye,NaN,T&G/PET-14209,Sales,5004,2020-01-01,05/07/20,USD,11.67,5,58.35
3,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
4,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76

### Dealing with missing values

In [5]:
ledger_df.iloc[2, 2]

nan

### Finding missing values

In [7]:
ledger_df['Product Name'].isna()

0        False
1        False
2         True
3        False
4        False
         ...
37703    False
37704    False
37705    False
37706     True
37707    False
Name: Product Name, Length: 37708, dtype: bool

In [8]:
ledger_df[ledger_df['Product Name'].isna()]

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
2,1534,Bullseye,NaN,T&G/PET-14209,Sales,5004,2020-01-01,05/07/20,USD,11.67,5,58.35
6,1538,Understock.com,NaN,S&O/TEX-91494,Sales,5004,2020-01-01,Thu Oct 31 00:00:00 2019,USD,31.36,9,282.24
16,1548,iBay.com,NaN,K&D/RES-27315,Sales,5004,2020-01-01,November 29 2019,USD,8.07,5,40.35
35,1567,Understock.com,NaN,T&G/(10-74529,Sales,5004,2020-01-01,6-03-20,USD,12.30,5,61.50
36,1568,Walcart,NaN,H&K/WAL-83087,Sales,5004,2020-01-01,2020/05/06,USD,3.52,1,3.52
...,...,...,...,...,...,...,...,...,...,...,...,...
37667,39115,iBay.com,NaN,MI/5PK-06441,Sales,5004,2020-03-31,06/20/20,USD,14.69,68,998.92
37688,39169,Understock.com,NaN,MI/BRA-04526,Sales,5004,2020-03-31,02/18/20,USD,28.42,6,170.52
37693,39225,iBay.com,NaN,S&O/SWA-54012,Sales,5004,2020-03-31,Sat Sep 5 00:00:00 2020,USD,5.34,27,144.18
37700,39196,Understock.com,NaN,PL&G/WIL-78488,Sales,5004,2020-03-31,08/05/20,USD,20.30,7,142.10
37706,39238,Shoppe.com,NaN,T&G/MAG-68412,Sales,5004,2020-03-31,3-20-20,USD,34.76,10,347.60

In [9]:
ledger_df['Product Name'].isna().sum()

4566

In [10]:
ledger_df.isna().sum()

InvoiceNo          0
Channel            0
Product Name    4566
ProductID          0
Account            0
AccountNo          0
Date               0
Deadline           0
Currency           0
Unit Price         0
Quantity           0
Total              0
dtype: int64

### Discarding missing values

In [12]:
ledger_df.head()

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,Sales,5004,2020-01-01,11/23/19,USD,20.11,14,281.54
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,Sales,5004,2020-01-01,06/15/20,USD,6.70,1,6.70
2,1534,Bullseye,NaN,T&G/PET-14209,Sales,5004,2020-01-01,05/07/20,USD,11.67,5,58.35
3,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
4,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76

In [13]:
ledger_df[ledger_df['Product Name'].notna()].head()

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,Sales,5004,2020-01-01,11/23/19,USD,20.11,14,281.54
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,Sales,5004,2020-01-01,06/15/20,USD,6.70,1,6.70
3,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
4,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
5,1537,Bullseye,3x Anti-Spy Privacy Screen Protector Compatibl...,CP&A/3X-00445,Sales,5004,2020-01-01,Mon Jan 20 00:00:00 2020,USD,7.39,8,59.12

In [14]:
ledger_df['Product Name'].notna()

0         True
1         True
2        False
3         True
4         True
         ...
37703     True
37704     True
37705     True
37706    False
37707     True
Name: Product Name, Length: 37708, dtype: bool

In [15]:
ledger_df.dropna().head()

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,Sales,5004,2020-01-01,11/23/19,USD,20.11,14,281.54
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,Sales,5004,2020-01-01,06/15/20,USD,6.70,1,6.70
3,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
4,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
5,1537,Bullseye,3x Anti-Spy Privacy Screen Protector Compatibl...,CP&A/3X-00445,Sales,5004,2020-01-01,Mon Jan 20 00:00:00 2020,USD,7.39,8,59.12

In [16]:
ledger_df.head()

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,Sales,5004,2020-01-01,11/23/19,USD,20.11,14,281.54
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,Sales,5004,2020-01-01,06/15/20,USD,6.70,1,6.70
2,1534,Bullseye,NaN,T&G/PET-14209,Sales,5004,2020-01-01,05/07/20,USD,11.67,5,58.35
3,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
4,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76

In [17]:
ledger_df.dropna(subset=['Product Name', 'ProductID']).head()

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,Sales,5004,2020-01-01,11/23/19,USD,20.11,14,281.54
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,Sales,5004,2020-01-01,06/15/20,USD,6.70,1,6.70
3,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
4,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
5,1537,Bullseye,3x Anti-Spy Privacy Screen Protector Compatibl...,CP&A/3X-00445,Sales,5004,2020-01-01,Mon Jan 20 00:00:00 2020,USD,7.39,8,59.12

In [18]:
ledger_df.dropna(subset=['AccountNo', 'ProductID']).head()

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,Sales,5004,2020-01-01,11/23/19,USD,20.11,14,281.54
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,Sales,5004,2020-01-01,06/15/20,USD,6.70,1,6.70
2,1534,Bullseye,NaN,T&G/PET-14209,Sales,5004,2020-01-01,05/07/20,USD,11.67,5,58.35
3,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
4,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76

This example would discard only those rows from `ledger_df` that are entirely empty (i.e., values in all columns are NaN)

In [20]:
ledger_df.dropna(how='all').head()

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,Sales,5004,2020-01-01,11/23/19,USD,20.11,14,281.54
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,Sales,5004,2020-01-01,06/15/20,USD,6.70,1,6.70
2,1534,Bullseye,NaN,T&G/PET-14209,Sales,5004,2020-01-01,05/07/20,USD,11.67,5,58.35
3,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
4,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76

Instead of rows, you can also tell dropna to **discard columns** with
empty values instead, using the axis keyword argument. To discard
all columns in `ledger_df` that have any empty values in them, you
can use:

In [22]:
ledger_df.dropna(how='any', axis='columns')   # In this case, 'Product Name' will be kick out.

,InvoiceNo,Channel,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
0,1532,Shoppe.com,T&G/CAN-97509,Sales,5004,2020-01-01,11/23/19,USD,20.11,14,281.54
1,1533,Walcart,T&G/LEG-37777,Sales,5004,2020-01-01,06/15/20,USD,6.70,1,6.70
2,1534,Bullseye,T&G/PET-14209,Sales,5004,2020-01-01,05/07/20,USD,11.67,5,58.35
3,1535,Bullseye,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
4,1535,Bullseye,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
...,...,...,...,...,...,...,...,...,...,...,...
37703,39235,iBay.com,H&PC/NAT-15470,Sales,5004,2020-03-31,Thu Sep 17 00:00:00 2020,USD,5.55,2,11.10
37704,39216,Shoppe.com,T&G/FUN-03366,Sales,5004,2020-03-31,5-08-20,USD,28.56,1,28.56
37705,39219,Shoppe.com,MI/MON-86723,Sales,5004,2020-03-31,04/11/20,USD,3.33,1,3.33
37706,39238,Shoppe.com,T&G/MAG-68412,Sales,5004,2020-03-31,3-20-20,USD,34.76,10,347.60
37707,39239,Understock.com,K&D/3 C-07383,Sales,5004,2020-03-31,April 02 2020,USD,6.39,15,95.85

### Filling missing values

In [24]:
# Replace any missing (NaN) values in the 'Product Name' column with the string 'MISSING'
ledger_df['Product Name'].fillna('MISSING')

0                      Cannon Water Bomb Balloons 100 Pack
1        LEGO Ninja Turtles Stealth Shell in Pursuit 79102
2                                                  MISSING
3        Transformers Age of Extinction Generations Del...
4        Transformers Age of Extinction Generations Del...
                               ...
37703    Nature's Bounty Garlic, 2000mg, Odor-Free, 120...
37704                        Funko Wonder Woman POP Heroes
37705    MONO GS1 GS1-BTY-BLK-L Betty Long Guitar Strap...
37706                                              MISSING
37707             3 Collapsible Bowl Set 32oz | 16oz | 4oz
Name: Product Name, Length: 37708, dtype: object

In [25]:
ledger_df.head()

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,Sales,5004,2020-01-01,11/23/19,USD,20.11,14,281.54
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,Sales,5004,2020-01-01,06/15/20,USD,6.70,1,6.70
2,1534,Bullseye,NaN,T&G/PET-14209,Sales,5004,2020-01-01,05/07/20,USD,11.67,5,58.35
3,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
4,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76

In [26]:
# Perform forward fill to replace missing values with the previous non-null value
ledger_df['Product Name'] = ledger_df['Product Name'].ffill()  

ledger_df.head()

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,Sales,5004,2020-01-01,11/23/19,USD,20.11,14,281.54
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,Sales,5004,2020-01-01,06/15/20,USD,6.70,1,6.70
2,1534,Bullseye,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/PET-14209,Sales,5004,2020-01-01,05/07/20,USD,11.67,5,58.35
3,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
4,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76

### Dealing with duplicate rows

In [28]:
ledger_df.duplicated()

0        False
1        False
2        False
3        False
4         True
         ...
37703    False
37704    False
37705     True
37706    False
37707    False
Length: 37708, dtype: bool

In [29]:
ledger_df.loc[3] == ledger_df.loc[4]

InvoiceNo       True
Channel         True
Product Name    True
ProductID       True
Account         True
AccountNo       True
Date            True
Deadline        True
Currency        True
Unit Price      True
Quantity        True
Total           True
dtype: bool

In [30]:
# Filter out duplicate rows from 'ledger_df' by selecting only rows that are not duplicated
ledger_df[~ledger_df.duplicated()].head()

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,Sales,5004,2020-01-01,11/23/19,USD,20.11,14,281.54
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,Sales,5004,2020-01-01,06/15/20,USD,6.70,1,6.70
2,1534,Bullseye,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/PET-14209,Sales,5004,2020-01-01,05/07/20,USD,11.67,5,58.35
3,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
5,1537,Bullseye,3x Anti-Spy Privacy Screen Protector Compatibl...,CP&A/3X-00445,Sales,5004,2020-01-01,Mon Jan 20 00:00:00 2020,USD,7.39,8,59.12

In [31]:
ledger_df.drop_duplicates()

ledger_df.head()

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,Sales,5004,2020-01-01,11/23/19,USD,20.11,14,281.54
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,Sales,5004,2020-01-01,06/15/20,USD,6.70,1,6.70
2,1534,Bullseye,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/PET-14209,Sales,5004,2020-01-01,05/07/20,USD,11.67,5,58.35
3,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
4,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76

You get the same result as above, but with less typing. You can also
tell pandas to check for duplicates in a subset of columns only, by
passing a list of column names to the subset keyword argument:

In [33]:
# Remove duplicate rows based on 'InvoiceNo' and 'ProductID' columns
ledger_df.drop_duplicates(subset=['InvoiceNo', 'ProductID']).head()

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,Sales,5004,2020-01-01,11/23/19,USD,20.11,14,281.54
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,Sales,5004,2020-01-01,06/15/20,USD,6.70,1,6.70
2,1534,Bullseye,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/PET-14209,Sales,5004,2020-01-01,05/07/20,USD,11.67,5,58.35
3,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
5,1537,Bullseye,3x Anti-Spy Privacy Screen Protector Compatibl...,CP&A/3X-00445,Sales,5004,2020-01-01,Mon Jan 20 00:00:00 2020,USD,7.39,8,59.12

### Converting column data types

In [35]:
# Read Dataframe 'Q1Sales.csv'

url = ("https://raw.githubusercontent.com/pythonforaccounting/workspace/refs/heads/main/P2%20-%20Working%20with%20tables/Q1Sales.csv")
ledger_df = pd.read_csv(url)

ledger_df.head()

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,Sales,5004,2020-01-01,11/23/19,USD,20.11,14,281.54
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,Sales,5004,2020-01-01,06/15/20,USD,6.70,1,6.70
2,1534,Bullseye,NaN,T&G/PET-14209,Sales,5004,2020-01-01,05/07/20,USD,11.67,5,58.35
3,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
4,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76

In [36]:
ledger_df['Quantity'].astype('float')

0        14.0
1         1.0
2         5.0
3         6.0
4         6.0
         ...
37703     2.0
37704     1.0
37705     1.0
37706    10.0
37707    15.0
Name: Quantity, Length: 37708, dtype: float64

In [37]:
ledger_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37708 entries, 0 to 37707
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   InvoiceNo     37708 non-null  int64
 1   Channel       37708 non-null  object
 2   Product Name  33142 non-null  object
 3   ProductID     37708 non-null  object
 4   Account       37708 non-null  object
 5   AccountNo     37708 non-null  int64
 6   Date          37708 non-null  object
 7   Deadline      37708 non-null  object
 8   Currency      37708 non-null  object
 9   Unit Price    37708 non-null  float64
 10  Quantity      37708 non-null  int64
 11  Total         37708 non-null  float64
dtypes: float64(2), int64(3), object(7)
memory usage: 3.5+ MB

Another useful DataFrame method that can fix issues with column
data types is `convert_dtypes`. This method asks pandas to try and
figure out better data types for each column in a DataFrame, and
can often reduce the amount of computer memory needed to store
your data:

In [39]:
ledger_df.convert_dtypes().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37708 entries, 0 to 37707
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   InvoiceNo     37708 non-null  Int64
 1   Channel       37708 non-null  string
 2   Product Name  33142 non-null  string
 3   ProductID     37708 non-null  string
 4   Account       37708 non-null  string
 5   AccountNo     37708 non-null  Int64
 6   Date          37708 non-null  string
 7   Deadline      37708 non-null  string
 8   Currency      37708 non-null  string
 9   Unit Price    37708 non-null  Float64
 10  Quantity      37708 non-null  Int64
 11  Total         37708 non-null  Float64
dtypes: Float64(2), Int64(3), string(7)
memory usage: 3.6 MB

The `convert_dtypes` method also replaces all missing values in the
DataFrame (i.e., any NaN, NaT or None values) with the unified <NA>
sentinel value:

In [41]:
ledger_df.convert_dtypes()

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,Sales,5004,2020-01-01,11/23/19,USD,20.11,14,281.54
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,Sales,5004,2020-01-01,06/15/20,USD,6.7,1,6.7
2,1534,Bullseye,<NA>,T&G/PET-14209,Sales,5004,2020-01-01,05/07/20,USD,11.67,5,58.35
3,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
4,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
...,...,...,...,...,...,...,...,...,...,...,...,...
37703,39235,iBay.com,"Nature's Bounty Garlic, 2000mg, Odor-Free, 120...",H&PC/NAT-15470,Sales,5004,2020-03-31,Thu Sep 17 00:00:00 2020,USD,5.55,2,11.1
37704,39216,Shoppe.com,Funko Wonder Woman POP Heroes,T&G/FUN-03366,Sales,5004,2020-03-31,5-08-20,USD,28.56,1,28.56
37705,39219,Shoppe.com,MONO GS1 GS1-BTY-BLK-L Betty Long Guitar Strap...,MI/MON-86723,Sales,5004,2020-03-31,04/11/20,USD,3.33,1,3.33
37706,39238,Shoppe.com,<NA>,T&G/MAG-68412,Sales,5004,2020-03-31,3-20-20,USD,34.76,10,347.6
37707,39239,Understock.com,3 Collapsible Bowl Set 32oz | 16oz | 4oz,K&D/3 C-07383,Sales,5004,2020-03-31,April 02 2020,USD,6.39,15,95.85

The changes produced by calling `convert_dtypes` are not critical, and you can still work with ledger_df without using `con
vert_dtypes`. However, calling `convert_dtypes` on a DataFrame can
make it use less computer memory, and for large tables, that can
speed up other table operations later on.