# Python for Accounting  02 - Working with Tables

## Chapter 15 - Slicing, filtering, and sorting tables

### Getting started

In [1]:
import pandas as pd

### Reading data from spreadsheets

In [2]:
# Read Dataframe 'Q1Sales.csv'

url = ("https://raw.githubusercontent.com/pythonforaccounting/workspace/refs/heads/main/P2%20-%20Working%20with%20tables/Q1Sales.csv")
ledger_df = pd.read_csv(url)

ledger_df.head()

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,Sales,5004,2020-01-01,11/23/19,USD,20.11,14,281.54
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,Sales,5004,2020-01-01,06/15/20,USD,6.70,1,6.70
2,1534,Bullseye,NaN,T&G/PET-14209,Sales,5004,2020-01-01,05/07/20,USD,11.67,5,58.35
3,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
4,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76

## Slicing

In [3]:
# Selecting columns

ledger_df['Product Name']

0                      Cannon Water Bomb Balloons 100 Pack
1        LEGO Ninja Turtles Stealth Shell in Pursuit 79102
2                                                      NaN
3        Transformers Age of Extinction Generations Del...
4        Transformers Age of Extinction Generations Del...
                               ...
37703    Nature's Bounty Garlic, 2000mg, Odor-Free, 120...
37704                        Funko Wonder Woman POP Heroes
37705    MONO GS1 GS1-BTY-BLK-L Betty Long Guitar Strap...
37706                                                  NaN
37707             3 Collapsible Bowl Set 32oz | 16oz | 4oz
Name: Product Name, Length: 37708, dtype: object

In [4]:
ledger_df['Unit Price']

0        20.11
1         6.70
2        11.67
3        13.46
4        13.46
         ...
37703     5.55
37704    28.56
37705     3.33
37706    34.76
37707     6.39
Name: Unit Price, Length: 37708, dtype: float64

In [5]:
ledger_df['Unit Price'].median()

10.29

In [6]:
ledger_df[['ProductID', 'Unit Price']]

            ProductID  Unit Price
0       T&G/CAN-97509       20.11
1       T&G/LEG-37777        6.70
2       T&G/PET-14209       11.67
3       T&G/TRA-20170       13.46
4       T&G/TRA-20170       13.46
...               ...         ...
37703  H&PC/NAT-15470        5.55
37704   T&G/FUN-03366       28.56
37705    MI/MON-86723        3.33
37706   T&G/MAG-68412       34.76
37707   K&D/3 C-07383        6.39

[37708 rows x 2 columns]

In [7]:
column_names = ['ProductID', 'Product Name', 'Unit Price', 'Total']

ledger_df[column_names]

,ProductID,Product Name,Unit Price,Total
0,T&G/CAN-97509,Cannon Water Bomb Balloons 100 Pack,20.11,281.54
1,T&G/LEG-37777,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,6.70,6.70
2,T&G/PET-14209,NaN,11.67,58.35
3,T&G/TRA-20170,Transformers Age of Extinction Generations Del...,13.46,80.76
4,T&G/TRA-20170,Transformers Age of Extinction Generations Del...,13.46,80.76
...,...,...,...,...
37703,H&PC/NAT-15470,"Nature's Bounty Garlic, 2000mg, Odor-Free, 120...",5.55,11.10
37704,T&G/FUN-03366,Funko Wonder Woman POP Heroes,28.56,28.56
37705,MI/MON-86723,MONO GS1 GS1-BTY-BLK-L Betty Long Guitar Strap...,3.33,3.33
37706,T&G/MAG-68412,NaN,34.76,347.60
37707,K&D/3 C-07383,3 Collapsible Bowl Set 32oz | 16oz | 4oz,6.39,95.85

In [8]:
products_df = ledger_df[['ProductID', 'Product Name', 'Unit Price', 'Total']]

products_df

,ProductID,Product Name,Unit Price,Total
0,T&G/CAN-97509,Cannon Water Bomb Balloons 100 Pack,20.11,281.54
1,T&G/LEG-37777,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,6.70,6.70
2,T&G/PET-14209,NaN,11.67,58.35
3,T&G/TRA-20170,Transformers Age of Extinction Generations Del...,13.46,80.76
4,T&G/TRA-20170,Transformers Age of Extinction Generations Del...,13.46,80.76
...,...,...,...,...
37703,H&PC/NAT-15470,"Nature's Bounty Garlic, 2000mg, Odor-Free, 120...",5.55,11.10
37704,T&G/FUN-03366,Funko Wonder Woman POP Heroes,28.56,28.56
37705,MI/MON-86723,MONO GS1 GS1-BTY-BLK-L Betty Long Guitar Strap...,3.33,3.33
37706,T&G/MAG-68412,NaN,34.76,347.60
37707,K&D/3 C-07383,3 Collapsible Bowl Set 32oz | 16oz | 4oz,6.39,95.85

In [9]:
ledger_df.columns

Index(['InvoiceNo', 'Channel', 'Product Name', 'ProductID', 'Account',
       'AccountNo', 'Date', 'Deadline', 'Currency', 'Unit Price', 'Quantity',
       'Total'],
      dtype='object')

In [10]:
ledger_df.columns[:3]

Index(['InvoiceNo', 'Channel', 'Product Name'], dtype='object')

In [11]:
ledger_df[ledger_df.columns[:3]]

,InvoiceNo,Channel,Product Name
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102
2,1534,Bullseye,NaN
3,1535,Bullseye,Transformers Age of Extinction Generations Del...
4,1535,Bullseye,Transformers Age of Extinction Generations Del...
...,...,...,...
37703,39235,iBay.com,"Nature's Bounty Garlic, 2000mg, Odor-Free, 120..."
37704,39216,Shoppe.com,Funko Wonder Woman POP Heroes
37705,39219,Shoppe.com,MONO GS1 GS1-BTY-BLK-L Betty Long Guitar Strap...
37706,39238,Shoppe.com,NaN
37707,39239,Understock.com,3 Collapsible Bowl Set 32oz | 16oz | 4oz

In [12]:
# Select all columns that have the word 'Product' in their name:
[name for name in ledger_df.columns if 'Product' in name]

['Product Name', 'ProductID']

In [13]:
ledger_df[[name for name in ledger_df.columns if 'Product' in name]]

                                            Product Name       ProductID
0                    Cannon Water Bomb Balloons 100 Pack   T&G/CAN-97509
1      LEGO Ninja Turtles Stealth Shell in Pursuit 79102   T&G/LEG-37777
2                                                    NaN   T&G/PET-14209
3      Transformers Age of Extinction Generations Del...   T&G/TRA-20170
4      Transformers Age of Extinction Generations Del...   T&G/TRA-20170
...                                                  ...             ...
37703  Nature's Bounty Garlic, 2000mg, Odor-Free, 120...  H&PC/NAT-15470
37704                      Funko Wonder Woman POP Heroes   T&G/FUN-03366
37705  MONO GS1 GS1-BTY-BLK-L Betty Long Guitar Strap...    MI/MON-86723
37706                                                NaN   T&G/MAG-68412
37707           3 Collapsible Bowl Set 32oz | 16oz | 4oz   K&D/3 C-07383

[37708 rows x 2 columns]

### Removing columns

In [14]:
products_df = ledger_df[['ProductID', 'Product Name', 'Unit Price', 'Total']]

products_df.head()

,ProductID,Product Name,Unit Price,Total
0,T&G/CAN-97509,Cannon Water Bomb Balloons 100 Pack,20.11,281.54
1,T&G/LEG-37777,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,6.70,6.70
2,T&G/PET-14209,NaN,11.67,58.35
3,T&G/TRA-20170,Transformers Age of Extinction Generations Del...,13.46,80.76
4,T&G/TRA-20170,Transformers Age of Extinction Generations Del...,13.46,80.76

In [15]:
ledger_df.head()

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,Sales,5004,2020-01-01,11/23/19,USD,20.11,14,281.54
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,Sales,5004,2020-01-01,06/15/20,USD,6.70,1,6.70
2,1534,Bullseye,NaN,T&G/PET-14209,Sales,5004,2020-01-01,05/07/20,USD,11.67,5,58.35
3,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
4,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76

In [16]:
columns_to_remove = ['InvoiceNo', 'Account', 'AccountNo', 'Currency']

ledger_df.drop(columns_to_remove, axis='columns')

,Channel,Product Name,ProductID,Date,Deadline,Unit Price,Quantity,Total
0,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,2020-01-01,11/23/19,20.11,14,281.54
1,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,2020-01-01,06/15/20,6.70,1,6.70
2,Bullseye,NaN,T&G/PET-14209,2020-01-01,05/07/20,11.67,5,58.35
3,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,2020-01-01,12/22/19,13.46,6,80.76
4,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,2020-01-01,12/22/19,13.46,6,80.76
...,...,...,...,...,...,...,...,...
37703,iBay.com,"Nature's Bounty Garlic, 2000mg, Odor-Free, 120...",H&PC/NAT-15470,2020-03-31,Thu Sep 17 00:00:00 2020,5.55,2,11.10
37704,Shoppe.com,Funko Wonder Woman POP Heroes,T&G/FUN-03366,2020-03-31,5-08-20,28.56,1,28.56
37705,Shoppe.com,MONO GS1 GS1-BTY-BLK-L Betty Long Guitar Strap...,MI/MON-86723,2020-03-31,04/11/20,3.33,1,3.33
37706,Shoppe.com,NaN,T&G/MAG-68412,2020-03-31,3-20-20,34.76,10,347.60
37707,Understock.com,3 Collapsible Bowl Set 32oz | 16oz | 4oz,K&D/3 C-07383,2020-03-31,April 02 2020,6.39,15,95.85

### Selecting rows and columns

In [17]:
ledger_df.head()

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,Sales,5004,2020-01-01,11/23/19,USD,20.11,14,281.54
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,Sales,5004,2020-01-01,06/15/20,USD,6.70,1,6.70
2,1534,Bullseye,NaN,T&G/PET-14209,Sales,5004,2020-01-01,05/07/20,USD,11.67,5,58.35
3,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
4,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76

In [18]:
# # Selects rows 0 to 9 and columns from 'InvoiceNo' to 'ProductID' 
ledger_df.loc[0:9, 'InvoiceNo':'ProductID']

,InvoiceNo,Channel,Product Name,ProductID
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777
2,1534,Bullseye,NaN,T&G/PET-14209
3,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170
4,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170
5,1537,Bullseye,3x Anti-Spy Privacy Screen Protector Compatibl...,CP&A/3X-00445
6,1538,Understock.com,NaN,S&O/TEX-91494
7,1539,Walcart,Zen-Ray ED3 8x43 Binoculars,C&P/ZEN-80993
8,1540,iBay.com,ePartSolution-Samsung Galaxy S4 SPH-L720 USB p...,CP&A/EPA-01656
9,1541,Bullseye,Timex Marathon GPS Watch,S&O/TIM-92731

In [19]:
# Selects specific rows (0, 1, 3, 5, 9) and specific columns ('InvoiceNo', 'Channel', 'Unit Price', 'Total')
ledger_df.loc[[0, 1, 3, 5, 9], ['InvoiceNo', 'Channel', 'Unit Price', 'Total']]

   InvoiceNo     Channel  Unit Price   Total
0       1532  Shoppe.com       20.11  281.54
1       1533     Walcart        6.70    6.70
3       1535    Bullseye       13.46   80.76
5       1537    Bullseye        7.39   59.12
9       1541    Bullseye       10.13  293.77

In [20]:
# Selects all rows and columns from 'Channel' to 'Date'
ledger_df.loc[:, 'Channel':'Date']

,Channel,Product Name,ProductID,Account,AccountNo,Date
0,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,Sales,5004,2020-01-01
1,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,Sales,5004,2020-01-01
2,Bullseye,NaN,T&G/PET-14209,Sales,5004,2020-01-01
3,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01
4,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01
...,...,...,...,...,...,...
37703,iBay.com,"Nature's Bounty Garlic, 2000mg, Odor-Free, 120...",H&PC/NAT-15470,Sales,5004,2020-03-31
37704,Shoppe.com,Funko Wonder Woman POP Heroes,T&G/FUN-03366,Sales,5004,2020-03-31
37705,Shoppe.com,MONO GS1 GS1-BTY-BLK-L Betty Long Guitar Strap...,MI/MON-86723,Sales,5004,2020-03-31
37706,Shoppe.com,NaN,T&G/MAG-68412,Sales,5004,2020-03-31
37707,Understock.com,3 Collapsible Bowl Set 32oz | 16oz | 4oz,K&D/3 C-07383,Sales,5004,2020-03-31

In [21]:
# Selects rows 0 to 4 and all columns
ledger_df.loc[0:4, :]

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,Sales,5004,2020-01-01,11/23/19,USD,20.11,14,281.54
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,Sales,5004,2020-01-01,06/15/20,USD,6.70,1,6.70
2,1534,Bullseye,NaN,T&G/PET-14209,Sales,5004,2020-01-01,05/07/20,USD,11.67,5,58.35
3,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
4,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76

In [22]:
# Accesses the value in the 'Channel' column of the first row (index 0) in ledger_df
ledger_df.loc[0, 'Channel']

'Shoppe.com'

In [23]:
# Selects the first 10 rows (index 0 to 9) and the first 4 columns (index 0 to 3)
ledger_df.iloc[0:10, 0:4]

,InvoiceNo,Channel,Product Name,ProductID
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777
2,1534,Bullseye,NaN,T&G/PET-14209
3,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170
4,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170
5,1537,Bullseye,3x Anti-Spy Privacy Screen Protector Compatibl...,CP&A/3X-00445
6,1538,Understock.com,NaN,S&O/TEX-91494
7,1539,Walcart,Zen-Ray ED3 8x43 Binoculars,C&P/ZEN-80993
8,1540,iBay.com,ePartSolution-Samsung Galaxy S4 SPH-L720 USB p...,CP&A/EPA-01656
9,1541,Bullseye,Timex Marathon GPS Watch,S&O/TIM-92731

In [24]:
# Selects specific rows (0 to 4) and specific columns (1, 2, 9, 11)
ledger_df.iloc[[0, 1, 2, 3, 4], [1, 2, 9, 11]]

,Channel,Product Name,Unit Price,Total
0,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,20.11,281.54
1,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,6.70,6.70
2,Bullseye,NaN,11.67,58.35
3,Bullseye,Transformers Age of Extinction Generations Del...,13.46,80.76
4,Bullseye,Transformers Age of Extinction Generations Del...,13.46,80.76

In [25]:
# Selects all rows and the first 3 columns (index 0 to 2)
ledger_df.iloc[:, :3]

,InvoiceNo,Channel,Product Name
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102
2,1534,Bullseye,NaN
3,1535,Bullseye,Transformers Age of Extinction Generations Del...
4,1535,Bullseye,Transformers Age of Extinction Generations Del...
...,...,...,...
37703,39235,iBay.com,"Nature's Bounty Garlic, 2000mg, Odor-Free, 120..."
37704,39216,Shoppe.com,Funko Wonder Woman POP Heroes
37705,39219,Shoppe.com,MONO GS1 GS1-BTY-BLK-L Betty Long Guitar Strap...
37706,39238,Shoppe.com,NaN
37707,39239,Understock.com,3 Collapsible Bowl Set 32oz | 16oz | 4oz

In [26]:
# Selects the last 4 rows and the last 4 columns
ledger_df.iloc[-4:, -4:]

      Currency  Unit Price  Quantity   Total
37704      USD       28.56         1   28.56
37705      USD        3.33         1    3.33
37706      USD       34.76        10  347.60
37707      USD        6.39        15   95.85

In [27]:
# Selects the 'Channel' column for rows 0 to 4 (inclusive)
ledger_df.loc[0:4, 'Channel']

0    Shoppe.com
1       Walcart
2      Bullseye
3      Bullseye
4      Bullseye
Name: Channel, dtype: object

In [28]:
# Selects rows 0 to 3 and the column at index 1
ledger_df.iloc[0:4, 1]

0    Shoppe.com
1       Walcart
2      Bullseye
3      Bullseye
Name: Channel, dtype: object

### Filtering data

In [29]:
# Filters and returns rows where the 'Channel' column equals 'Walcart'
ledger_df[ledger_df['Channel'] == 'Walcart']

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,Sales,5004,2020-01-01,06/15/20,USD,6.70,1,6.70
7,1539,Walcart,Zen-Ray ED3 8x43 Binoculars,C&P/ZEN-80993,Sales,5004,2020-01-01,6-28-20,USD,28.29,1,28.29
10,1542,Walcart,"Logisys Red 5 LED Lazer Light, 12V DC Input Vo...",MI/LOG-93214,Sales,5004,2020-01-01,05/25/20,USD,19.49,1,19.49
11,1543,Walcart,Magline GMK81UA4 Gemini Sr Convertible Hand Tr...,I&S/MAG-94877,Sales,5004,2020-01-01,05/06/20,USD,18.42,4,73.68
15,1547,Walcart,Totally Bamboo 20-8551 3-Tiered Salt Box,K&D/TOT-99233,Sales,5004,2020-01-01,March 14 2020,USD,4.25,1,4.25
...,...,...,...,...,...,...,...,...,...,...,...,...
37505,39037,Walcart,niceEshop Aluminum Key Chain Beer Bottle Opener,K&D/NIC-99177,Sales,5004,2020-03-31,January 11 2020,USD,2.53,15,37.95
37517,39049,Walcart,Into the Woods - Revised Edition - Piano/Vocal...,MI/INT-05386,Sales,5004,2020-03-31,05/29/20,USD,5.76,1,5.76
37525,39057,Walcart,Ibanez TS9DX - Turbo Reissue,MI/IBA-39588,Sales,5004,2020-03-31,05/07/20,USD,20.33,3,60.99
37551,39083,Walcart,"SHURflo 8005-233-236 Demand Pump - 1.5gpm, 60p...",PL&G/SHU-98501,Sales,5004,2020-03-31,03/11/20,USD,2.19,1,2.19
37565,39097,Walcart,NaN,K&D/NIC-99177,Sales,5004,2020-03-31,June 23 2020,USD,2.53,20,50.60

In [30]:
# Returns a boolean Series indicating where 'Channel' equals 'Walcart'
ledger_df['Channel'] == 'Walcart'  # Returns a boolean Series indicating where 'Channel' equals 'Walcart'

0        False
1         True
2        False
3        False
4        False
         ...
37703    False
37704    False
37705    False
37706    False
37707    False
Name: Channel, Length: 37708, dtype: bool

In [31]:
# Creates a boolean Series to identify rows where 'Channel' is 'Walcart'
rows_to_keep = ledger_df['Channel'] == 'Walcart'

# Counts the number of True values in rows_to_keep, indicating how many rows have 'Channel' as 'Walcart'
rows_to_keep.sum()

4574

In [32]:
ledger_df[                                           # Filters rows in ledger_df based on multiple conditions
    (ledger_df['Channel'] == 'Walcart') &            # Checks if 'Channel' is 'Walcart'
    (ledger_df['Quantity'] > 25)                     # Checks if 'Quantity' is greater than 25
]

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
28,1560,Walcart,Conntek 14422 RV Pigtail Adapter 15 Amp Male P...,PL&G/CON-18732,Sales,5004,2020-01-01,03/26/20,USD,4.47,27,120.69
144,1676,Walcart,"[ Strip of 6 ] Energizer A76/LR44 (A76BP), SR4...",I&S/[ S-49751,Sales,5004,2020-01-01,02/04/20,USD,11.83,61,721.63
213,1604,Walcart,Conntek 14422 RV Pigtail Adapter 15 Amp Male P...,PL&G/CON-18732,Sales,5004,2020-01-01,03/26/20,USD,4.47,27,120.69
237,1769,Walcart,Child Construction Hats - 12 Pack - Yellow,T&G/CHI-38293,Sales,5004,2020-01-01,3-31-20,USD,19.68,43,846.24
292,1824,Walcart,"Ultima Replenisher Lemonade 90 - Servings , 1...",H&PC/ULT-64807,Sales,5004,2020-01-01,Thu Feb 27 00:00:00 2020,USD,13.34,62,827.08
...,...,...,...,...,...,...,...,...,...,...,...,...
36773,38305,Walcart,Miracle Blade Knife Block,K&D/MIR-47737,Sales,5004,2020-03-27,September 01 2020,USD,7.24,35,253.40
36783,38315,Walcart,Hercules GS414B A/G Guitar Stand,MI/HER-72788,Sales,5004,2020-03-27,04/17/20,USD,9.95,39,388.05
36870,38402,Walcart,The Honest Company 11160 Dish Soap - 16 Ounces,K&D/THE-51332,Sales,5004,2020-03-27,March 31 2020,USD,2.90,30,87.00
36942,38474,Walcart,Foscam FI8910W White Wireless IP Cameras 2-pack,C&P/FOS-95687,Sales,5004,2020-03-28,1-20-20,USD,23.69,33,781.77
37022,38477,Walcart,Foscam FI8910W White Wireless IP Cameras 2-pack,C&P/FOS-95687,Sales,5004,2020-03-28,1-20-20,USD,23.69,33,781.77

In [33]:
ledger_df[~(ledger_df['Channel'] == 'Walcart')]   # Filters rows where 'Channel' is not 'Walcart' using the negation operator (~)

# Same as
# ledger_df[ledger_df['Channel'] != 'Walcart']    # Filters rows where 'Channel' is not 'Walcart' using the '!=' operator

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,Sales,5004,2020-01-01,11/23/19,USD,20.11,14,281.54
2,1534,Bullseye,NaN,T&G/PET-14209,Sales,5004,2020-01-01,05/07/20,USD,11.67,5,58.35
3,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
4,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
5,1537,Bullseye,3x Anti-Spy Privacy Screen Protector Compatibl...,CP&A/3X-00445,Sales,5004,2020-01-01,Mon Jan 20 00:00:00 2020,USD,7.39,8,59.12
...,...,...,...,...,...,...,...,...,...,...,...,...
37703,39235,iBay.com,"Nature's Bounty Garlic, 2000mg, Odor-Free, 120...",H&PC/NAT-15470,Sales,5004,2020-03-31,Thu Sep 17 00:00:00 2020,USD,5.55,2,11.10
37704,39216,Shoppe.com,Funko Wonder Woman POP Heroes,T&G/FUN-03366,Sales,5004,2020-03-31,5-08-20,USD,28.56,1,28.56
37705,39219,Shoppe.com,MONO GS1 GS1-BTY-BLK-L Betty Long Guitar Strap...,MI/MON-86723,Sales,5004,2020-03-31,04/11/20,USD,3.33,1,3.33
37706,39238,Shoppe.com,NaN,T&G/MAG-68412,Sales,5004,2020-03-31,3-20-20,USD,34.76,10,347.60
37707,39239,Understock.com,3 Collapsible Bowl Set 32oz | 16oz | 4oz,K&D/3 C-07383,Sales,5004,2020-03-31,April 02 2020,USD,6.39,15,95.85

In [34]:
# Returns a boolean Series where both conditions are True
(ledger_df['Channel'] == 'Walcart') & (ledger_df['Quantity'] > 25)

0        False
1        False
2        False
3        False
4        False
         ...
37703    False
37704    False
37705    False
37706    False
37707    False
Length: 37708, dtype: bool

In [35]:
# Returns a boolean Series where 'Channel' is not 'Walcart' by negating the condition
~(ledger_df['Channel'] == 'Walcart')

0         True
1        False
2         True
3         True
4         True
         ...
37703     True
37704     True
37705     True
37706     True
37707     True
Name: Channel, Length: 37708, dtype: bool

One such method is `isin`: instead of writing multiple conditional statements and joining them with the pandas “or” | operator.



```Python
# Instead of: 
( 
(ledger_df['Channel'] == 'Understock.com') | 
(ledger_df['Channel'] == 'iBay.com') |
(ledger_df['Channel'] == 'Shoppe.com') 
) 

# You can use:
ledger_df['Channel'].isin(['Understock.com', 'iBay.com', 'Shoppe.com'])
```

In [36]:
# Checks if each value in 'Channel' is one of the specified values, returning a boolean Series
ledger_df['Channel'].isin(['Understock.com', 'iBay.com', 'Shoppe.com'])

0         True
1        False
2        False
3        False
4        False
         ...
37703     True
37704     True
37705     True
37706     True
37707     True
Name: Channel, Length: 37708, dtype: bool

Similarly, you can use between to check whether values in a column are in a given range (inclusive at both ends):

```Python
# Instead of: 
(ledger_df['Quantity'] >= 10) & (ledger_df['Quantity'] <= 100) 

# You can use:
ledger_df['Quantity'].between(10, 100) 
```

In [37]:
# Returns a boolean Series indicating if 'Quantity' is between 10 and 100 (inclusive)
ledger_df['Quantity'].between(10, 100)

0         True
1        False
2        False
3        False
4        False
         ...
37703    False
37704    False
37705    False
37706     True
37707     True
Name: Quantity, Length: 37708, dtype: bool

### Using loc for filtering

In [38]:
# Filters rows where 'Channel' is 'Walcart' and selects columns 'Channel', 'Quantity', and 'Total'
ledger_df[ledger_df['Channel'] == 'Walcart'][['Channel', 'Quantity', 'Total']]

       Channel  Quantity  Total
1      Walcart         1   6.70
7      Walcart         1  28.29
10     Walcart         1  19.49
11     Walcart         4  73.68
15     Walcart         1   4.25
...        ...       ...    ...
37505  Walcart        15  37.95
37517  Walcart         1   5.76
37525  Walcart         3  60.99
37551  Walcart         1   2.19
37565  Walcart        20  50.60

[4574 rows x 3 columns]

In [39]:
ledger_df.loc[                                       # Uses .loc[] to access specific rows and columns
    ledger_df['Channel'] == 'Walcart',               # Filters rows where 'Channel' is 'Walcart'
    ['Channel', 'Quantity', 'Total']                 # Selects columns 'Channel', 'Quantity', and 'Total'
]

       Channel  Quantity  Total
1      Walcart         1   6.70
7      Walcart         1  28.29
10     Walcart         1  19.49
11     Walcart         4  73.68
15     Walcart         1   4.25
...        ...       ...    ...
37505  Walcart        15  37.95
37517  Walcart         1   5.76
37525  Walcart         3  60.99
37551  Walcart         1   2.19
37565  Walcart        20  50.60

[4574 rows x 3 columns]

### Sorting data

In [40]:
# Sorts ledger_df in ascending order based on the values in the 'Total' column
ledger_df.sort_values(by='Total')

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
33440,34972,iBay.com,Magic: the Gathering - Hydra Broodmaster (126/...,T&G/MAG-22549,Sales,5004,2020-03-14,2-18-20,USD,0.06,8,0.48
24022,25466,Understock.com,Magic: the Gathering - Hydra Broodmaster (126/...,T&G/MAG-22549,Sales,5004,2020-02-22,6-19-20,USD,0.06,11,0.66
15855,17387,Understock.com,Magic: the Gathering - Hydra Broodmaster (126/...,T&G/MAG-22549,Sales,5004,2020-02-05,1-14-20,USD,0.06,11,0.66
24012,25544,Understock.com,Magic: the Gathering - Hydra Broodmaster (126/...,T&G/MAG-22549,Sales,5004,2020-02-22,6-19-20,USD,0.06,11,0.66
7613,9145,iBay.com,Magic: the Gathering - Hydra Broodmaster (126/...,T&G/MAG-22549,Sales,5004,2020-01-16,5-21-20,USD,0.06,15,0.90
...,...,...,...,...,...,...,...,...,...,...,...,...
19408,20775,iBay.com,Large Display Digital Thermometer Lumiscope,H&PC/LAR-98606,Sales,5004,2020-02-12,Thu Dec 26 00:00:00 2019,USD,64.15,68,4362.20
27379,28737,iBay.com,Large Display Digital Thermometer Lumiscope,H&PC/LAR-98606,Sales,5004,2020-02-28,Sun Jan 26 00:00:00 2020,USD,64.15,68,4362.20
19132,20664,iBay.com,Large Display Digital Thermometer Lumiscope,H&PC/LAR-98606,Sales,5004,2020-02-12,Thu Dec 26 00:00:00 2019,USD,64.15,68,4362.20
5212,6744,iBay.com,Large Display Digital Thermometer Lumiscope,H&PC/LAR-98606,Sales,5004,2020-01-11,Tue Apr 28 00:00:00 2020,USD,64.15,68,4362.20
27049,28581,iBay.com,Large Display Digital Thermometer Lumiscope,H&PC/LAR-98606,Sales,5004,2020-02-28,Sun Jan 26 00:00:00 2020,USD,64.15,68,4362.20

In [41]:
# Sorts in descending order
ledger_df.sort_values(by='Total', ascending=False)

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
27049,28581,iBay.com,Large Display Digital Thermometer Lumiscope,H&PC/LAR-98606,Sales,5004,2020-02-28,Sun Jan 26 00:00:00 2020,USD,64.15,68,4362.20
19408,20775,iBay.com,Large Display Digital Thermometer Lumiscope,H&PC/LAR-98606,Sales,5004,2020-02-12,Thu Dec 26 00:00:00 2019,USD,64.15,68,4362.20
27379,28737,iBay.com,Large Display Digital Thermometer Lumiscope,H&PC/LAR-98606,Sales,5004,2020-02-28,Sun Jan 26 00:00:00 2020,USD,64.15,68,4362.20
5212,6744,iBay.com,Large Display Digital Thermometer Lumiscope,H&PC/LAR-98606,Sales,5004,2020-01-11,Tue Apr 28 00:00:00 2020,USD,64.15,68,4362.20
19132,20664,iBay.com,Large Display Digital Thermometer Lumiscope,H&PC/LAR-98606,Sales,5004,2020-02-12,Thu Dec 26 00:00:00 2019,USD,64.15,68,4362.20
...,...,...,...,...,...,...,...,...,...,...,...,...
7613,9145,iBay.com,Magic: the Gathering - Hydra Broodmaster (126/...,T&G/MAG-22549,Sales,5004,2020-01-16,5-21-20,USD,0.06,15,0.90
24012,25544,Understock.com,Magic: the Gathering - Hydra Broodmaster (126/...,T&G/MAG-22549,Sales,5004,2020-02-22,6-19-20,USD,0.06,11,0.66
15855,17387,Understock.com,Magic: the Gathering - Hydra Broodmaster (126/...,T&G/MAG-22549,Sales,5004,2020-02-05,1-14-20,USD,0.06,11,0.66
24022,25466,Understock.com,Magic: the Gathering - Hydra Broodmaster (126/...,T&G/MAG-22549,Sales,5004,2020-02-22,6-19-20,USD,0.06,11,0.66
33440,34972,iBay.com,Magic: the Gathering - Hydra Broodmaster (126/...,T&G/MAG-22549,Sales,5004,2020-03-14,2-18-20,USD,0.06,8,0.48

In [42]:
# Sorts ledger_df first by 'Quantity' in descending order, then by 'Total' in ascending order
ledger_df.sort_values(by=['Quantity', 'Total'], ascending=[False, True])

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
4747,6279,Understock.com,AC Adapter/battery charger for GateWay Liteon ...,E/AC-44106,Sales,5004,2020-01-10,2020/02/05,USD,14.88,226,3362.88
4757,6162,Understock.com,AC Adapter/battery charger for GateWay Liteon ...,E/AC-44106,Sales,5004,2020-01-10,2020/02/05,USD,14.88,226,3362.88
4969,6397,Understock.com,AC Adapter/battery charger for GateWay Liteon ...,E/AC-44106,Sales,5004,2020-01-10,2020/02/05,USD,14.88,226,3362.88
8797,10329,Understock.com,AC Adapter/battery charger for GateWay Liteon ...,E/AC-44106,Sales,5004,2020-01-19,2020/01/06,USD,14.88,226,3362.88
26069,27601,Understock.com,AC Adapter/battery charger for GateWay Liteon ...,E/AC-44106,Sales,5004,2020-02-26,2020/04/20,USD,14.88,226,3362.88
...,...,...,...,...,...,...,...,...,...,...,...,...
30081,31613,Walcart,Kodak EasyShare Z990 12 MP Digital Camera with...,C&P/KOD-32137,Sales,5004,2020-03-06,2-09-20,USD,166.34,1,166.34
30520,31949,Walcart,Kodak EasyShare Z990 12 MP Digital Camera with...,C&P/KOD-32137,Sales,5004,2020-03-06,2-09-20,USD,166.34,1,166.34
34483,36015,Shoppe.com,Kodak EasyShare Z990 12 MP Digital Camera with...,C&P/KOD-32137,Sales,5004,2020-03-18,7-12-20,USD,167.07,1,167.07
34521,35996,Shoppe.com,Kodak EasyShare Z990 12 MP Digital Camera with...,C&P/KOD-32137,Sales,5004,2020-03-18,7-12-20,USD,167.07,1,167.07
35817,37349,Shoppe.com,Kodak EasyShare Z990 12 MP Digital Camera with...,C&P/KOD-32137,Sales,5004,2020-03-23,12-24-19,USD,167.07,1,167.07